// Define variables for your color scheme

// For example:
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$gray: #0E0000;
$light-gray: #F4F4F4;
$red: #FF6D60;
$green: #73cd8c;
$dark-yellow: #F7D060;
$light-yellow: #F3E99F;
$purple: #9446C4;
$pink: #F11A7B;
