.login-title {
  color: $purple;
}

.login-subtitle {
  color: $green;
}

.btn-login {
  background-color: $red;
  color: $green;
  border-color: $red;
  border-style: solid;
  border-width: 2px;
  border-radius: 5px;
}
