body {
  background-image: url(party_emoji.png);
  background-color: $light-yellow;
  background-size: 40px 40px;
  animation: snakeAnimation 4s linear infinite;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@keyframes snakeAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px -40px;
  }
}

footer {
  margin-top: auto;

}

.footer-icon{
  color: black
}

.social-buttons {
  color: black;
}

.social-buttons > a {
  color: black;
}

.login {
  background-color: $dark-yellow;
  position: relative;
}

.inside-link {
  text-decoration: none;
  position: relative;
  color: inherit;
}

.inside-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $green;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms ease;
}

.inside-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

h1, h2, h3, h4, h5 {
  color: $green,
}
