body {
  background-image: url(party_emoji.png);
  background-color: $light-yellow;
  background-size: 40px 40px;
  animation: snakeAnimation 4s linear infinite;
  margin: 0; /* Remove default margin */
}

@keyframes snakeAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px -40px;
  }
}

.login {
  background-color: $dark-yellow;
  position: relative;
}

.inside-link {
  text-decoration: none;
  position: relative;
  color: inherit;
}

.inside-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: $green;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 300ms ease;
}

.inside-link:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.button {
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}

.btn-one:hover, .btn-one:focus {
  animation: pulse 1s;
  box-shadow: 0 0 0 2em transparent;
}

@keyframes pulse {
  0% { box-shadow: 0 0 0 0 $green; }
}

h1, h2, h3, h4, h5 {
  color: $green,
}
