body {
  background-image: url(party_emoji.png);
  background-color: #F3E99F;
  background-size: 40px 40px;
  animation: snakeAnimation 4s linear infinite;
}

@keyframes snakeAnimation {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 40px -40px;
  }
}

.main-page {
  background-color: azure;
}

.login {
  background-color: #F7D060;
}

.starburst {
  background-image: url(red_starburst.png);
  background-size: cover;
  background-position: center;
}
