<div class="container-fluid min-vh-100 d-flex flex-column justify-content-center align-items-center">
  <div class="error-message m-5 d-flex flex-column justify-content-center align-items-center">
    <h1 class=" text-center mt-4">Página Não Encontrada...</h1>
    <%= image_tag("error_message.jpeg", class: "img-fluid my-4") %>
  </div>
</div>
