<footer class="mt-auto">
  <div class="container">
    <div class="row">
      <div class="text-center"><i class="fa-solid fa-ellipsis fs-3"></i></div>
      <div class="row text-center">
        <div class="col-md-4 box">
          <ul class="list-inline quick-links">
            <li class="list-inline-item">
              <%= link_to "About this website", about_path, class: "text-reset text-decoration-none inside-link fs-6" %>
            </li>
          </ul>
        </div>
        <div class="col-md-4 box fs-6">
          <p>Made by Marcos, with love</p>
        </div>
        <div class="col-md-4 box">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://github.com/marcosgabriel-smc" target="_blank">
                <i class="fa-brands fa-github text-decoration-none footer-icon fs-3"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/marcosgabriel-costa/" target="_blank">
                <i class="fab fa-linkedin-in text-decoration-none footer-icon fs-3"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://soundcloud.com/marcos-gabriel-7" target="_blank">
                <i class="fa-brands fa-soundcloud text-decoration-none footer-icon fs-3"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
