<!-- Button trigger modal -->
<button type="button" class="btn inside-link btn-contacts w-100" data-bs-toggle="modal" data-bs-target="#sharingLinkModal">
  Compartilhar sua lista!
</button>
<!-- Modal -->
<div class="modal fade" id="sharingLinkModal" tabindex="-1" aria-labelledby="sharingLinkModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sharingLinkModalLabel">Compartilhe o link!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a href="<%= ENV['CALLBACK_URL'] %>/shareable_link/<%= user.shareable_token %>" target="_blank", class="text-break">
          <%= ENV['CALLBACK_URL'] %>/shareable_link/<%= user.shareable_token %>
        </a>
      </div>
    </div>
  </div>
</div>
