<!-- Button trigger modal -->
<button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#sharingLinkModal">
  Compartilhe sua lista de Aniversariantes!
</button>
<!-- Modal -->
<div class="modal fade" id="sharingLinkModal" tabindex="-1" aria-labelledby="sharingLinkModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sharingLinkModalLabel">Compartilhe o link abaixo!</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <a href="http://127.0.0.1/contacts/shareable_link/<%= user.shareable_token %>" target="_blank">
          http://127.0.0.1/shareable_link/<%= user.shareable_token %>
        </a>
      </div>
    </div>
  </div>
</div>
